<div class="container-lista-productos">


<h1>lista de productos</h1>
<div class="valores"><a routerLink="/dashboard/product/crear"  routerLinkActive="active" class="lista-punto">crear producto</a></div>



@if ( isloading ) {
    <div>Loading products...</div>
  } @else {
      @if ( products.length === 0) {
        <div class="no-data">no tienes productos.</div>
      } @else {
        <table class="data-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>imagen</th>
              <th>precio</th>
              <th>unidades</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for ( product of products; track product._id ) {
              <tr>
                <td>{{ product.name }}</td>
                <td>{{product.description}}</td>
                <td>{{ product.urlImage }}</td>
                <td>{{product.price}}</td>
                <td>{{product.stock}}</td>
                <td>
                  <a [routerLink]="'/dashboard/product/editar/' + (product._id ?? '')">Editar</a>
                  <button (click)="onRemove( product._id ?? '' )">Eliminar</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
  }
</div>
