<footer>
    
    <div class="arriba">
        <div class="imagen-logo">
            <a routerLink="home">
                <img class="Logo" src="assets/images/logo-blanco.jpeg" >
            </a>
        </div>
        <nav class="container-1">
            <a routerLink="" routerLinkActive="active">PQRS</a>            
            <a routerLink="" routerLinkActive="active" class="nav-link">Trabaja Con Nosotros</a>
            <a href="" class="nav-link">Contacto</a>
            <a href="" class="nav-link">Redes Sociales</a>
        </nav>
    </div>
    <div class="abajo">
        <p>Copyright &copy;</p>
        <a href="" class="politicas">Politicas y Garantias</a>

    </div>
</footer>