<footer>
    <div class="arriba">
        <img src="assets/images/logo-blanco.jpeg" alt="logo del footer" class="Logo_footer">
        <nav class="container-1">
            <a routerLink="dashboard/servicios/crear" routerLinkActive="active" class="nav-link">Trabaja Con Nosotros</a>
            <a href="" class="nav-link">PQRS</a>            
            <a href="" class="nav-link">Contacto</a>
            <a href="" class="nav-link">Redes Sociales</a>
        </nav>
    </div>
    <div class="abajo">
        <p>Copyright &copy;</p>
        <a href="" class="politicas">Politicas y Garantias</a>

    </div>
</footer>