.form h1 {
    text-align: center;
}

.form-content {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.form-errors {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .title {
        font-size: 1.2rem;
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    width: 100%;
}

.error {
    font-size: .75rem;
    height: 1rem;
    color: red;
    font-style: italic;
}

/** CSS: Table */
/** CSS: Forms */
.form h1 {
    text-align: center;
}

.form-content {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.form-errors {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .title {
        font-size: 1.2rem;
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    width: 100%;
}

.error {
    font-size: .75rem;
    height: 1rem;
    color: red;
    font-style: italic;
}

/** CSS: Table */
.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


/* .container-lista-servicios{
    border: 3px solid black;
    padding: 4px, 8px;
}
img.image-avatar {
    height: 27rem;
    width: 30rem;
}
tr {
    background-color: #1382A1;
}
td {
    font-size: 2rem;
} */
.container-lista-servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
  }
  
  .tarjeta-servicio {
    display: flex;
    width: 750px; /* Ajusta según sea necesario */
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background: white; /* Evita que el fondo sea transparente */
  }
  
  .imagen-servicio {
    width: 50%;
    height: 100%;
  }
  
  .image-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info-servicio {
    width: 50%;
    background: linear-gradient(to bottom, #000, #3b9ecf); /* Negro a azul agua marina */
    color: white;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .titulo-servicio {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .descripcion-servicio {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.4;
  }
  
