<section class="section section-introduccion">
    <div class="services-introduccion">
        <div class="container">
            <h2 class="introduccion">Servicios En MotoMania</h2>
            <p class="introduccion">En nuestro taller ofrecemos una amplia gama de servicios diseñados para
                cubrir todas tus
                necesidades. Ya sea que necesites mantenimiento, reparación o personalización, contamos con
                profesionales capacitados para brindarte la mejor atención.</p>
        </div>
    </div>
</section>
<section class="section section-services">
    <div class="container">
        <div class="services-content">
            <div class="card card__servicio card__servicio--left">
                <div class="card__content">
                    <img src="assets/images/mecanica basica.png" alt="Mecanica Basica">
                    <div class="card__information">
                        <h3>Mecanica basica</h3>
                        <ul>
                            <li>Cambio de aceite</li>
                            <li>mantenimiento de frenos</li>
                            <li>Ajuste y endrase de cadena</li>
                            <li>Mantenimiento de neumaticos</li>
                            <li>Sistema electrico</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card card__servicio card__servicio--right">
                <div class="card__content">
                    <img src="assets/images/mecanica especializada.png" alt="Mecanica Especializada">
                    <div class="card__information">
                        <h3>Mecanica especializada</h3>
                        <ul>
                            <li>Calibracion de carburador o inyeccion</li>
                            <li>Sistema de suspension</li>
                            <li>modificaciones de motor</li>
                            <li>Reparacion de motor y valvulas</li>
                            <li>Sistema de escape</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card card__servicio card__servicio--left">
                <div class="card__content">
                    <img src="assets/images/estetica vehicular.png" alt="Estetica vehicular">
                    <div class="card__information">
                        <h3>Estetica Vehicular</h3>
                        <ul>
                            <li>Pintura y aerografia</li>
                            <li>Vinilado y adhesivos personalizados</li>
                            <li>Pulido y restauración de faros y carenados</li>
                            <li>Tapizado y personalización de asientos</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card card__servicio card__servicio--right">
                <div class="card__content">
                    <img src="assets/images/Domicilios.png" alt="Domicilios">
                    <div class="card__information">
                        <h3>Domicilios</h3>
                        <ul>
                            <li>Reparamos el carro en tu casa</li>
                            <li>Llevamos el carro al taller</li>
                            <li>Vamos donde lo necesites</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_button">
    <div class=" container container_link-citas">
        <a class="button_citas" href="cita/agendar">Agendar Cita</a>
    </div>
</section>
<section class="section section_produst">
    <h4>Repuestos</h4>
    <div class="container_produst">
        <div class="producto producto_1">
            <img class="main_product" src="assets/images/lubricantes.img.png" alt="lubricantes y aceites">
            <h5>Lubricantes y aceites</h5>
        </div>
        <div class="producto producto_2">
            <img class="main_product" src="assets/images/frenos y guayas.img.png" alt="frenos y guayas">
            <h5>Frenos y guayas</h5>
        </div>
        <div class="producto producto_3">
            <img class="main_product" src="assets/images/baterias.img.png" alt="baterias, fusibles y iluminacion">
            <h5>Baterias, Fusibles y Iluminacion</h5>
        </div>
        <div class="producto producto_4">
            <img class="main_product" src="assets/images/empaques.img.png" alt="empaques">
            <h5>Empaques, Mangueras, tornillos y accesorios</h5>
        </div>
    </div>


</section>
<h1>Listado de servicios</h1>

@if ( isloading ) {
    <div>Loading products...</div>
  } @else {
      @if ( services.length === 0) {
        <div class="no-data">Don't have Producs.</div>
      } @else {
        <table class="data-table">
          <thead>
            <tr>
              <th>Nombre Servicio</th>
              <th>descripcion del producto</th>
              <th></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for ( services of services; track services._id ) {
              <tr>
                <td>{{ services.name }}</td>
                <td>{{ services.description }}</td>
                <td>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
  }

