<body>
    <h1>ADMINISTRACION</h1>
    
    <div class="lista">
        <nav>
            <ul class="lista-link">
                <div class="valores"><li class="campo-lista-dashboard"><a routerLink="product/crear"  routerLinkActive="active" class="lista-punto"> crear productos</a></li></div>
                <div class="valores"><li class="campo-lista-dashboard"><a routerLink="category/crear"  routerLinkActive="active" class="lista-punto">crear categorias</a></li></div>
                <div class="valores"><li class="campo-lista-dashboard"><a routerLink="servicios/crear"  routerLinkActive="active" class="lista-punto">crear servicio</a></li></div>
                <div class="valores"><li class="campo-lista-dashboard"><a routerLink="servicios"  routerLinkActive="active" class="lista-punto">listado de servicios</a></li></div>
                <div class="valores"><li class="campo-lista-dashboard"><a routerLink="categorias"  routerLinkActive="active" class="lista-punto">listado de categorias</a></li></div>
                <div class="valores"><li class="campo-lista-dashboard"><a routerLink="productos"  routerLinkActive="active" class="lista-punto">listado de productos</a></li></div>

            </ul>
        </nav>
    </div>

    
</body>