<section class="section section-principal">
    <div class="container">
        <div class="principal-content">
           <div class="info">
            <h1 class="Uno">Tu mecánico de confianza a un clic de distancia.</h1>
            <p class="Uno">Somos la mejor red de talleres mecánicos, brindándote calidad, precios justos y garantía.</p>
           </div>
            <div class="imagen-moto">
               <img class="Moto" src="assets/images/Moto-1.jpg">
            </div>
        </div>
    </div>
   </section>
   <section class="section section-nosotros">
    <div class="container">
        <div class="nosotros-content">
           <div class="Nosotros">
            <h1 class="Dos">Quienes Somos.</h1>
            <p class="Dos">En Motomania, somos apasionados por las motocicletas y todo lo relacionado con ellas. Fundada en el año 2024, nuestra misión es proporcionar servicios de alta calidad y productos excepcionales para todos los entusiastas de las motos.</p>
           </div>
           <div>
            <img class="Fondo" src="">
           </div>
        </div>
    </div>
   </section>
   <section class="section section-servicios">
    <div class="container">
        <div class="servicios-content">
           <div class="Servicios">
            <h1 class="Tres">TODOS LOS SERVICIOS QUE TU MOTO NECESITA</h1>
           </div>
           <div class="boton-motos">
           <a href="citas.html" class="btn-moto btn-moto1">
                 <h2>Mecanica Basica.</h2>
                   <img class="Imagen-1" src="assets/images/Imagen-moto1.png"alt="Mecanica Basica">
           </a>
           <a href="citas.html" class="btn-moto btn-moto2">
                 <h2>Estetica Vehicular.</h2>
                   <img class="Imagen-2" src="assets/images/Imagen-moto2.png"alt="Estetica Vehicular">
           </a>
           <a href="citas.html" class="btn-moto btn-moto3">
                 <h2>Mecanica Especialiada.</h2>
                   <img class="Imagen-3" src="assets/images/Imagen-moto3.png"alt="Mecanica Especialiada">
           </a>
           <a href="citas.html" class="btn-moto btn-moto4">
                 <h2>A Domicilo.</h2>
                   <img class="Imagen-4" src="assets/images/Imagen-moto4.png"alt="A Domicilo">
           </a>
           </div>
        </div>
    </div>
   </section>
   <section class="section section-final">
    <div class="container">
        <div class="final-content">
           <div class="Final">
            <p class="Cuatro">En Motomania, creemos en la importancia de la seguridad y el rendimiento. Por eso, trabajamos con dedicación y pasión para que cada cliente se sienta seguro y satisfecho con nuestros servicios.</p>
            <p class="Cinco">¡Ven y descubre por qué somos el taller de motos de confianza en la comunidad!</p>
           </div>
            <div class="imagen-end">
               <img class="End" src="assets/images/Section-final.jpeg">
            </div>
        </div>
    </div>
   </section>