<body>
    <div class="container">
        <form action
        [formGroup]="formData"
        (ngSubmit)="onSubmit()"
        class="register-form">
            
            <h1>Crear Servicio</h1>
            <div class="form-content">    
                <div class="field">
                    <label for="name">Nombre Del Servicio *</label>
                    <input type="text" formControlName="name" id="name" placeholder="Nombre del Producto">
                    <div class="error">
                        @if(this.formData.get('name')?.invalid && (this.formData.get('name')?.dirty ||
                        this.formData.get('name')?.touched)){
                            @if(this.formData.get('name')?.errors?.["required"] ){
                                <span>Este Campo Es Obligatorio</span>
                            }
                        }
                    </div>
                </div>

                <div class="field">
                    <label for="urlImagen">Suba la imagen *</label>
                    <input type="text" formControlName="urlImagen" id="urlImagen" placeholder="Suba el archivo">
                </div>

                <div class="field">
                    <label for="price">Precio Del Servicio *</label>
                    <input type="number" formControlName="price" id="price" placeholder="Asigne un valor">
                    <div class="error">
                        @if(this.formData.get('price')?.invalid && (this.formData.get('price')?.dirty ||
                        this.formData.get('price')?.touched)){
                            @if(this.formData.get('price')?.errors?.["required"] ){
                                <span>Asigne Un Precio</span>
                            }
                        }
                    </div>
                </div>

                <div class="field">
                    <label for="description">Descripción del servicio *</label>
                    <textarea formControlName="description" id="description" placeholder="Descripción del servicio"></textarea>
                    <div class="error">
                        @if(this.formData.get('description')?.invalid && (this.formData.get('description')?.dirty ||
                        this.formData.get('description')?.touched)){
                            @if(this.formData.get('description')?.errors?.["required"] ){
                                <span>Este Campo Es Obligatorio</span>
                            }
                        }
                    </div>
                </div>

                <div class="field">
                    <button type="submit">Agregar Servicio</button>
                </div>
            </div>
        </form>
    </div>
</body>