<div class="container-products">


<div class="container">

    
 <form 
[formGroup]="formData"
(ngSubmit)="onSubmit()" 
class="register-form">
            <h1>Crear Producto</h1>
            <div class="field">
                <label for="name">Escriba el nombre *</label>
                <input type="text" formControlName="name" id="name" placeholder="Nombre">
                <div class="error">
                    @if(this.formData.get('name')?.invalid && (this.formData.get('name')?.dirty || 
                    this.formData.get('name')?.touched)){
                        @if(this.formData.get('name')?.errors?.["required"] ){
                            <span>Este campo es obligatorio</span>
                        }
                    }
                </div>
            </div>
            <div class="field">
                <label for="description">Escriba la Descripción *</label>
                <input type="text" formControlName="description" id="description" placeholder="Descripción">
                <div class="error">
                    @if(this.formData.get('description')?.invalid && (this.formData.get('description')?.dirty || this.formData.get('description')?.touched)){
                        @if(this.formData.get('description')?.errors?.["required"] ){
                            <span>Este campo es obligatorio</span>
                        }
                    }
                </div>
            </div>
            <div class="field">
                <label for="price">Precio del Producto *</label>
                <input type="number" formControlName="price" id="price" placeholder="Ej: 23423">
            </div>
            <div class="field">
                <label for="stock">Unidades Disponibles *</label>
                <input type="number" formControlName="stock" id="stock" placeholder="Ej: 23423">
                <div class="error">
                    @if(this.formData.get('stock')?.invalid && (this.formData.get('stock')?.dirty || this.formData.get('stock')?.touched)){
                        @if(this.formData.get('stock')?.errors?.["required"] ){
                            <span>Escriba la cantidad disponible</span>
                        }
                    }
                </div>
            </div>
            <div class="field">
                <label for="urlImage">Suba la imagen *</label>
                <input type="text" formControlName="urlImage" id="urlImage" placeholder="URL de la imagen">
            </div>
            <div class="field">
                <label for="category">Categoría *</label>
                <select formControlName="category" id="category">
                    <option value="">Seleccionar...</option>
                    @for (category of categories; track $index) {
                        <option [value]="category._id">{{ category.name }}</option>
                    }
                </select>
                <div class="error">
                    @if(this.formData.get('category')?.invalid && (this.formData.get('category')?.dirty || this.formData.get('category')?.touched)) {
                        @if(this.formData.get('category')?.errors?.['required']) {
                            <span>Seleccionar una categoría es obligatorio</span>
                        }
                    }
                </div>
            </div>
            <div class="field">
                <label for="state">Estado del Producto *</label>
                <select formControlName="state" id="state"> 
                    <option value="">Seleccionar</option>
                    <option value="true">Disponible</option>
                    <option value="false">No disponible</option>
                </select>
            </div>
            <div class="field">
                <button type="submit">Crear Producto</button>
            </div>
        </form>
    </div>
</div>