<form 
action="form form-login"
[formGroup]="formData"
(ngSubmit)="onSubmit()"
>
    
<body>
    <div class="container">
        <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="login-form">
            <h1>Login</h1>
            <div class="field">
                <label for="username">Username *</label>
                <input type="text" formControlName="username" id="username" placeholder="Ej: juan@correo.com">
                <div class="error">
                    @if(this.formData.get('username')?.invalid && (this.formData.get('username')?.dirty || this.formData.get('username')?.touched)){
                        @if(this.formData.get('username')?.errors?.["required"]){
                            <span>El correo es obligatorio</span>
                        }
                        @if(this.formData.get('username')?.errors?.["email"]){
                            <span>Formato de correo inválido</span>
                        }
                    }
                </div>
            </div>
            <div class="field">
                <label for="password">Password *</label>
                <input type="password" formControlName="password" id="password" placeholder="Ej: 123456789">
                <div class="error">
                    @if(this.formData.get('password')?.invalid && (this.formData.get('password')?.dirty || this.formData.get('password')?.touched)){
                        @if(this.formData.get('password')?.errors?.["required"]){
                            <span>La contraseña es obligatoria</span>
                        }
                        @if(this.formData.get('password')?.errors?.["minlength"]){
                            <span>Tiene que ser mínimo 6 caracteres</span>
                        }
                        @if(this.formData.get('password')?.errors?.["maxlength"]){
                            <span>Tiene que ser máximo 12 caracteres</span>
                        }
                    }
                </div>
            </div>
            <button type="submit" [disabled]="this.formData.invalid">Login</button>
        </form>
    </div>
</body>

