<form 
[formGroup]="formData"
(ngSubmit)="onSubmit()"
>
    
    <h1>Agendar Cita</h1>
    <div class="form-content">
        <div class="field">
            <label for="name">Escriba su nombre *</label>
            <input type="text" formControlName="name" id="name" placeholder="nombre">
        </div>
        <div class="field">
            <label for="description">Problema *</label>
           <textarea formControlName="description" id="description" placeholder="resuma el problema que presenta su vehiculo"></textarea>
        </div>
        <div class="field">
            <label for="day">Dia de la cita *</label>
            <iframe src="https://calendar.google.com/calendar/embed?src=07b033cbd808ec94fbf8ecdcb3b7846323edb706e4f7c59d3c0c1a3784a8d1c9%40group.calendar.google.com&ctz=America%2FBogota" style="border: 0" width="300" height="300" frameborder="2" scrolling="yes"></iframe>
        </div>
        
        <div class="field">
            <button type="submit">agendar cita</button>
        </div>
    </div>

</form> 