<form a
[formGroup]="formData"
(ngSubmit)="onSubmit()"
>
    
    <h1>Crear repuestos</h1>
    <div class="form-content">
        <div class="field">
            <label for="name">escriba el nombre *</label>
            <input type="text" formControlName="name" id="name" placeholder="name">
        </div>
        <div class="field">
            <label for="description">escriba la Descripcion *</label>
            <input type="text" formControlName="description" id="description" placeholder="ajsbdkabdj">
        </div>
        <div class="field">
            <label for="price">Precio Del repuesto*</label>
            <input type="number" formControlName="price" id="price" placeholder="ej. 23423">
        </div>
        <div class="field">
            <label for="stock">unidades disponibles*</label>
            <input type="number" formControlName="stock" id="stock" placeholder="ej. 23423">
        </div>
        <div class="field">
            <label for="urlImage">Suba la imagen *</label>
            <input type="text" formControlName="urlImage" id="urlImage" placeholder="">
        </div>
        <div class="field">
            <label for="categorias">Nombre De categorias*</label>
            <select formControlName="categorias" id="categorias"> 
                <option value="">seleccionar</option>
                @for (categoria of categorias; track $index) {
                    <option [value]="categoria._id">{{categoria.name}}</option>
                }
            </select>
        </div>
        <div class="field">
            <label for="state">estado del producto*</label>
            <select formControlName="state" id="state"> 
                <option value="">seleccionar</option>
                <option value="true">disponible</option>
                <option value="false">no disponible</option>
            </select>
        </div>
       
        
        <div class="field">
            <button type="submit">Agregar</button>
        </div>
    </div>

</form> 