<form action ="form form-crear-repuesto"
[formGroup]="formData"
(ngSubmit)="onSubmit()"
>
    
    <h1>Crear repuesto</h1>
    <div class="form-content">
        <div class="field">
            <label for="agregarimagen">Suba la imagen *</label>
            <input type="text" formControlName="agregarimagen" id="agregarimagen" placeholder="">
        </div>
        <div class="field">
            <label for="agregarrepuesto">Nombre Del Repuesto*</label>
            <input type="text" formControlName="agregarrepuesto" id="agregarrepuesto" placeholder="Nombre del repuesto">
        </div>
        <div class="field">
            <label for="agregarprecio">Precio Del repuesto*</label>
            <input type="number" formControlName="agregarprecio" id="agregarprecio" placeholder="ej. 23423">
        </div>
        <div class="field">
            <label for="agregardescripcion">Descripcion del repuesto *</label>
            <!-- <input type="text" formControlName= "agregardescripcion" id="agregardescripcion" placeholder="ajjajajaasdasd"> -->
           <textarea formControlName="agregardescripcion" id="agregardescripcion" placeholder="aceite 239203"></textarea>
        </div>
        <div class="field">
            <button type="submit">crear repuesto</button>
        </div>
    </div>

</form> 