<nav>
    <a href="#">
        <img src="assets/images/site-logo.jpg" alt="Site Logo: Motomania" class="site-logo">
    </a>

    <ul class= "main-menu"> 
        <li><a routerLink="dashboard"routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a></li>
   <!--- <li><a routerLink="dashboard/users" routerLinkActive="active">Users</a></li> -->
     <li><a [routerLink]="['dashboard', 'users']"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">users</a></li>
    <li><a routerLink="credits" routerLinkActive="active">Credits</a></li>
    <li><a routerLink="login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="register" routerLinkActive="active">Register</a></li>
    <li><a routerLink="dashboard/servicios/crear"routerLinkActive="active">Crear Servicio</a></li>
    <li><a routerLink="dashboard/repuestos/crear"routerLinkActive="active">Crear Repuestos</a></li>
    <li><a routerLink="dashboard/categorias/crear"routerLinkActive="active">Crear Categorias</a></li>
    <li><a routerLink="citas/agendar" routerLinkActive="active">Agendar Cita</a></li>
    </ul>
</nav>