<header class="header">
    <div class="container header-content">
        <div class="header-content__left">
        </div>
        <div class="imagen-logo">
            <a routerLink="home">
                <img class="Logo" src="assets/images/logo-blanco.jpeg" >
            </a>
        </div>
        <div class="header-content__center">
            <nav>
                <ul class="menu-principal">
                    <li class="menu-item"><a href="citas.html"  routerLinkActive="active" class="nav-link">Agendar cita</a></li>
                    <li class="menu-item"><a href="servicios.html"  routerLinkActive="active" class="nav-link">Servicios</a></li>
                    <li class="menu-item"><a href="#"  routerLinkActive="active" class="nav-link">Contacto</a></li>
                    <li class="menu-item"><a routerLink="login" routerLinkActive="active" class="nav-link">Login</a></li>
                    <li class="menu-item"><a routerLink="register" routerLinkActive="active" class="nav-link">Register</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content__right">
            <input type="text" placeholder="Busqueda">
        </div>
    </div>
</header>