<form
[formGroup]="formData"
(ngSubmit)="onSubmit()"
>
    
    <h1>Editar Repuestos</h1>
    <div class="form-content">
        <div class="field">
            <label for="name">Editar Nombre *</label>
            <input type="text" formControlName="name" id="name" placeholder="name">
        </div>
        <div class="field">
            <label for="description">Editar Descripcion*</label>
            <input type="text" formControlName="description" id="description" placeholder="ajsbdkabdj">
        </div>
        <div class="field">
            <label for="price">Editar Precio*</label>
            <input type="number" formControlName="price" id="price" placeholder="ej. 23423">
        </div>
        <div class="field">
            <label for="stock">Unidades Disponibles*</label>
            <input type="number" formControlName="stock" id="stock" placeholder="ej. 23423">
        </div>
        <div class="field">
            <label for="urlImage">Suba La Imagen *</label>
            <input type="text" formControlName="urlImage" id="urlImage" placeholder="">
        </div>
        <div class="field">
            <label for="categorias">Categoria*</label>
            <select formControlName="categorias" id="categorias"> 
                <option value="">seleccionar</option>
                @for (categoria of categorias; track $index) {
                    <option [value]="categoria._id">{{categoria.name}}</option>
                }
            </select>
        </div>
        <div class="field">
            <label for="state">Estado Del Producto*</label>
            <select formControlName="state" id="state"> 
                <option value="">seleccionar</option>
                <option value="true">disponible</option>
                <option value="false">no disponible</option>
            </select>
        </div>
       
        
        <div class="field">
            <button type="submit"> Guardar Cambios </button>
        </div>
    </div>

</form> 